h1 {
  color: green;
}
.navbar {
  color: red;
}


.im {
  max-width: 220px;
  max-height: 280px;
  float: right;
}
.all {
      display: grid;
      height: 100%;
}
.content {
    max-width: 100%;
  max-height: 100vh;
margin: auto;
 }
