h1 {
  color: green;
}
.navbar {
  color: red;
}

.part {
      display: grid;
      height: 100%;   
}
.im {
  grid-area: right;
  width: 170;
  height: 200;
    max-width: 20%;
  max-height: 25vh;
 }
