h1 {
  color: green;
}
.navbar {
  color: red;
}


.im {
  max-width: 275;
  max-height: 350;
  float: right;
}

.all {
  display: grid;
  height: 100%;
}
.content {
  max-width: 100%;
  max-height: 100vh;
}
